
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-QQ:before { content: "\e61a"; }
.icon-pengyouquan:before { content: "\e61b"; }
.icon-jiantou:before { content: "\e613"; }
.icon-weixin:before { content: "\e61c"; }
.icon-jiantou1:before { content: "\e614"; }
.icon-jiantou2:before { content: "\e60e"; }
.icon-qzone:before { content: "\e61d"; }
.icon-xinlang:before { content: "\e61e"; }
.icon-shezhi:before { content: "\e601"; }
.icon-shouqijiantou:before { content: "\e618"; }
.icon-duanxin:before { content: "\e61f"; }
.icon-zhongguogongshangyinxing:before { content: "\e615"; }
.icon-yuan:before { content: "\e616"; }
.icon-chevron-copy:before { content: "\e60c"; }
.icon-wenhao:before { content: "\e60a"; }
.icon-guanbi:before { content: "\e620"; }
.icon-anquan:before { content: "\e600"; }
.icon-anquantishi:before { content: "\e602"; }
.icon-gengduosvg:before { content: "\e603"; }
.icon-meiyoumingxi:before { content: "\e604"; }
.icon-shouye:before { content: "\e605"; }
.icon-touming:before { content: "\e606"; }
.icon-tuijian:before { content: "\e607"; }
.icon-zhanghu:before { content: "\e608"; }
.icon-zhuanye:before { content: "\e609"; }
.icon-gonggao:before { content: "\e60b"; }
.icon-chengong:before { content: "\e60d"; }
.icon-zuorishouyi:before { content: "\e612"; }
.icon-gaoliangxuanzhong:before { content: "\e617"; }
.icon-jiaoyijilu:before { content: "\e60f"; }
.icon-wodejiangli:before { content: "\e619"; }
.icon-shouyimingxi:before { content: "\e610"; }
.icon-wodejiangli1:before { content: "\e611"; }
