<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.func.account.mapper.GesturePwdMapper">
	<!-- 返回的结果集 -->

	<resultMap type="com.sy.func.account.entity.GesturePwdVo" id="BaseResultMap">
		<id property="userId" column="USER_ID" />
		<result property="devicdSn" column="DEVICE_SN" />
		<result property="isOpen" column="IS_OPEN" />
		<result property="isSafeExit" column="is_Safe_Exit" />
		<result property="userName" column="user_Name" />
		<result property="lastModifyTime" column="last_Modify_Time" />
	</resultMap>

	<insert id="saveGesturePwd" parameterType="com.sy.func.account.entity.GesturePwdVo">
		insert into t_member_gesture_pwd
		(
		USER_ID,DEVICE_SN,IS_OPEN,
		PWD,is_Safe_Exit,ADDTIME,ADDUSER,
		LAST_MODIFY_TIME,LAST_MODIFY_USER,MODIFY_USER_TYPE,ADDIP,PLATFORM,USER_NAME
		)
		values
		(
		#{userId},
		#{devicdSn},
		#{isOpen},
		#{pwd},
		#{isSafeExit},
		now(),
		#{addUser},
		now(),
		#{addUser},
		#{modifyUserType},
		#{addIp},
		#{platForm},
		#{userName})
	</insert>

	<select id="getIsOpen" parameterType="com.sy.func.account.entity.GesturePwdVo"
			resultType="java.lang.String">
		SELECT IS_OPEN FROM t_member_gesture_pwd c
		WHERE USER_ID = #{userId} and DEVICE_SN= #{devicdSn}
	</select>
	<update id="updateGesturePwd" parameterType="com.sy.func.account.entity.GesturePwdVo">
		update t_member_gesture_pwd set IS_OPEN=0, PWD="",last_modify_time=now(),last_modify_user=#{userId},modify_user_type=1,ADDIP=#{addIp}  WHERE USER_ID = #{userId} and
		DEVICE_SN= #{devicdSn}
	</update>

	<update id="updateLoginOut" parameterType="com.sy.func.account.entity.GesturePwdVo">
		update t_member_gesture_pwd set is_Safe_Exit=1,last_modify_time=now(),last_modify_user=#{userId},modify_user_type=1,ADDIP=#{addIp}  WHERE USER_ID = #{userId} and
		DEVICE_SN= #{devicdSn}
	</update>

	<update id="updateForgetpwd" parameterType="com.sy.func.account.entity.GesturePwdVo">
		update t_member_gesture_pwd set PWD="",last_modify_time=now(),last_modify_user=#{userId},modify_user_type=1,ADDIP=#{addIp}  WHERE USER_ID = #{userId} and DEVICE_SN=
		#{devicdSn}
	</update>

	<update id="updateFirstIsSafeExit" parameterType="com.sy.func.account.entity.GesturePwdVo">
		update t_member_gesture_pwd set is_Safe_Exit= 0,last_modify_time=now(),last_modify_user=#{userId},modify_user_type=1 ,ADDIP=#{addIp} WHERE USER_ID = #{userId} and
		DEVICE_SN= #{devicdSn}
	</update>

	<update id="updatePassGesturePwd" parameterType="com.sy.func.account.entity.GesturePwdVo">
		update t_member_gesture_pwd set IS_OPEN=0, PWD="",last_modify_time=now(),last_modify_user=#{userId},modify_user_type=1,ADDIP=#{addIp}  WHERE USER_ID = #{userId} and
		DEVICE_SN= #{devicdSn}
	</update>

	<update id="updatetime" parameterType="com.sy.func.account.entity.GesturePwdVo">
		update t_member_gesture_pwd set last_modify_time=now() WHERE USER_ID = #{userId} and
		DEVICE_SN= #{devicdSn}
	</update>


	<update id="saveNewGesturePwd" parameterType="com.sy.func.account.entity.GesturePwdVo">
		update t_member_gesture_pwd set IS_OPEN=#{isOpen},
		PWD=#{pwd},LAST_MODIFY_TIME=now(),modify_user_type=1,
		LAST_MODIFY_USER =#{userId},ADDIP=#{addIp} WHERE USER_ID = #{userId} and
		DEVICE_SN= #{devicdSn}
	</update>

	<select id="validateGesturePwd" parameterType="com.sy.func.account.entity.GesturePwdVo"
			resultType="int">
		SELECT count(1) cnt1 FROM t_member_gesture_pwd c WHERE
		USER_ID = #{userId} and DEVICE_SN= #{devicdSn} and pwd =#{pwd}
	</select>

	<select id="isShowGesturePwd" parameterType="com.sy.func.account.entity.GesturePwdVo"
			resultType="int">
		SELECT count(1) cnt1 FROM t_member_gesture_pwd c WHERE
		USER_ID = #{userId} and DEVICE_SN= #{devicdSn} and

		IS_OPEN =1 and pwd=""
	</select>
	<select id="isShowGesturePwd2" parameterType="com.sy.func.account.entity.GesturePwdVo"
			resultType="int">
		SELECT count(1) cnt1 FROM t_member_gesture_pwd c WHERE
		USER_ID = #{userId} and DEVICE_SN= #{devicdSn} and

		IS_OPEN =1
	</select>
	<select id="isExistByUserIdInfo" parameterType="com.sy.func.account.entity.GesturePwdVo"
			resultType="int">
		SELECT count(1) cnt1 FROM t_member_gesture_pwd c WHERE
		USER_ID = #{userId} and DEVICE_SN= #{devicdSn}

	</select>

	<select id="jundeMinuteInteval" parameterType="com.sy.func.account.entity.GesturePwdVo"
			resultType="int">
		SELECT TIMESTAMPDIFF(MINUTE ,#{lastModifyTime},NOW()) from t_member_gesture_pwd where   USER_ID = #{userId} and DEVICE_SN= #{devicdSn}

	</select>


	<select id="isExistUnsafe" parameterType="com.sy.func.account.entity.GesturePwdVo"
			resultType="com.sy.func.account.entity.GesturePwdVo">

		SELECT USER_ID userId,DEVICE_SN devicdSn,IS_OPEN isOpen,user_Name userName,last_Modify_Time lastModifyTime FROM t_member_gesture_pwd  WHERE
		is_Safe_Exit = 0 and DEVICE_SN= #{devicdSn} limit 1

	</select>

	<select id="selectHeadImg" parameterType="int"
			resultType="String">

		select headimg from t_member    WHERE
		ID = #{userId}

	</select>
</mapper>